<div id="demo" class="carousel slide" data-ride="carousel">

        <!-- The slideshow -->
        <div class="carousel-inner" role="listbox">

          <div class="carousel-item">
            <img class="d-block img-fluid center-block" src="/images/slider/choirimg3.JPG" alt="First slide">
          </div>
          <!-- <div class="carousel-item">
            <img class="d-block img-fluid center-block" src="./assets/images/slika4.jpg" alt="Third slide">
          </div> -->
          <div class="carousel-item">
            <img class="d-block img-fluid center-block"  src="/images/slider/slika2.jpg" alt="Third slide">
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid center-block" src="/images/slider/slika3.jpg" alt="Third slide">
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid center-block" src="/images/slider/slika2.jpg" alt="Second slide">
          </div>

        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev" role="button">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next" role="button">
          <span class="carousel-control-next-icon"></span>
        </a>

      </div>