<div class="row">
	<div class="col-sm-3">
		<div class="events">
			<h3>Events</h3>
			<h5>Historic Highlights</h5>
			<b>First Concert</b>
			<p>X December 2018</p>

			<p>The first concert hosted by Crveni Bozuri. It featured a powerpoint presentation with English translations
				of the lyrics for each song
			</p>

			<hr />
			<b>Christmas concert</b>
			<p>x Jan 2019</p>
			<p>We celebrated Serbian Christmas with a collection of songs, including ...</p>
			<hr />
			<h5>Upcoming</h5>
			<b>Easter Performance</b>
			<p>April</p>
			<p>
				Easter Performance: April
			</p>
			<b>Choir Bash</b>
			<p>July</p>
		</div>

		<div>
			<a href="/images/paper.jpg">
				<img class="img-fluid" src="/images/paper.jpg">
			</a>
		</div>
		<div>
			<h3>Sister Choir</h3>
			<img class="img-fluid sister-logo" src="/images/logo.png">
			<p>Crveni Bozuri has a sister choir in Christchurch, NZ called Musica Balkanica, which has provided much inspiration
				and help with sheet music during the formation of Crveni Bozuri. Two of our members including one of the
				 conductors previously sang here before moving to Perth.  </p>
				 <p>Here is the link to their website: <a href="http://musicabalkanica.org/">musicabalkanica.org</a></p>
				 
		</div>
	</div>
	<div class="col-sm-9">
		<div class="display-image"><img class="img-fluid img-border" src="./images/front.jpg" /></div>
		<div class="description">
			<h3>Welcome to Red Peonies</h3>

			<p>
				Red Peonies (Crveni Božuri, pronounced Tsrvenee Bozhuree) is an amateur a cappella choir in Perth,
				Western Australia, primarily performing music that defines the Serbian heritage. Our repertoire includes
				a wide range of music spanning sacred and liturgic, folk, traditional and modern genres. We also enjoy
				performing music from other nations within the Balkans and beyond.
			</p>

			<p>
				Red Peonies was founded in January 2016 and is led by Jasna and Nada. It began as a dual harmony female
				choir and has since expanded to include bass and tenor vocalists. We are always happy to welcome new
				members. There will be plenty of help with pronounciation if you don't speak Serbian.
			</p>

			<p>
				We regularly perform at various events in Perth's Serbian community, and hope to extend our performances
				to the wider public as well.
			</p>

		</div>

	</div>

</div>
