<div class="row">
	<div class="col-sm-3">
		<div class="events">
			<h3>Events</h3>
			<h5>Historic Highlights</h5>
			<b>First Concert</b>
			<p>X December 2018</p>



			<b>Christmas concert</b>
			<p>x Jan 2019</p>
			<hr />
			<h5>Upcoming</h5>
			<b>Literary Evening</b>
			<p>x March </p>

			<b>Easter Performance</b>
			<p>April</p>

			<b>Choir Bash</b>
			<p>July</p>
			<hr />
		</div>

	
		<div>
			<h3>Sister Choir</h3>
			<img class="img-fluid sister-logo" src="/images/logo.png">
			<p>Crveni Bozuri has a sister choir, Musica Balkanica, based in Christchurch, NZ.</p>
				 <p><a href="http://musicabalkanica.org/">musicabalkanica.org</a></p>
				 
		</div>
		<hr />
		<div class="cb-dvd">
		<h3>Memorabilia</h3>
			<p>Our DVD</p>
			<a href="/images/cb_dvd.jpg">
				<img class="img-fluid sister-logo" src="/images/cb_dvd.jpg">
			</a>
		</div>
	</div>
	<div class="col-sm-9">
		<div class="display-image"><img class="img-fluid img-border" src="./images/front.jpg" /></div>
		<div class="description">
			<h3>Welcome to Red Peonies</h3>

			<p>
				Red Peonies (Crveni Božuri, pronounced Tsrvenee Bozhuree) is an amateur a cappella choir in Perth,
				Western Australia, primarily performing music that defines the Serbian heritage. Our repertoire includes
				a wide range of music spanning sacred and liturgic, folk, traditional and modern genres. We also enjoy
				performing music from other nations within the Balkans and beyond.
			</p>

			<p>
				Red Peonies was founded in January 2016 and is led by Jasna and Nada. It began as a dual harmony female
				choir and has since expanded to include bass and tenor vocalists. We are always happy to welcome new
				members. There will be plenty of help with pronounciation if you don't speak Serbian.
			</p>

			<p>
				We regularly perform at various events in Perth's Serbian community, and hope to extend our performances
				to the wider public as well.
			</p>

		</div>

		<article class="row single-post mt-5 no-gutters">
				<div class="col">
					<div class="image-wrapper float-right pr-3">
					    <a href="/images/paper.jpg">
					 	    <img src="/images/paper.jpg" class="newspaper" alt="">
						</a>
					</div>
					<div class="single-post-content-wrapper pr-3">
							<h3>Добродошли</h3>
							<p>Црвени Божури је аматерски а cappella хор из Перта у Западној Аустралији, који првенствено изводи музику која дефинишe српско наслеђе. Наш репертоар укључује широк спектар музике која обухвата свете и литургијске, народне, традиционалне и модерне жанрове. Такође уживамо у извођењу музике других народа на Балкану и шире.</p>
		
							<p>Црвени Божури је основан у јануару 2016 године и диригенти су Нада и Јасна. Почео је као женски хор са двоструком хармонијом и од тада је проширен и укључује басове и теноре. Нови чланови су добродошли.</p>
		
							<p>Редовно наступамо на разним догађајима у српској заједници, и надамо се да ћемо у будућности наступати пред широм Аустралијском публиком.</p>
					</div>
				</div>
			</article>

	</div>

</div>
