<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Page Title</title>
		<link href="./bootstrap.css" rel="stylesheet" type="text/css" />
		<link href="./style.css" rel="stylesheet" type="text/css" />
		<!-- <link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
			integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
			crossorigin="anonymous"
		/> -->
	</head>
	<body>
		<div class="container">
			<nav class="navbar navbar-expand-lg">
				<a class="navbar-brand"><img width="100px" src="./images/logo_transparent.png"/></a>
				<div>
					<h1>Српски Хор Црвени Божури</h1>
					<h2>Serbian Choir Red Peonies</h2>
				</div>

				<button
					class="navbar-toggler"
					type="button"
					data-toggle="collapse"
					data-target="#navbarNavAltMarkup"
					aria-controls="navbarNavAltMarkup"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav ml-auto">
						<a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
						<a class="nav-item nav-link" href="#">Performances</a>
						<a class="nav-item nav-link" href="#" tabindex="-1" aria-disabled="true">Login</a>
					</div>
				</div>
			</nav>
			<hr />
			<div class="row">
				<div class="col-sm-10"><p>Experience the quintessential sounds of Serbia and beyond</p></div>
				<div class="col-sm-2 ml-auto"><p>Translate Page</p></div>
			</div>
			<hr />
			<div class="row">
				<div class="col-sm-9">
					<div class="display-image"><img class="img-fluid img-border" src="./images/front.jpg" /></div>
					<div class="description">
						<h3>Welcome to Red Peonies</h3>

						<p>
							Red Peonies (Crveni Božuri, pronounced Tsrvenee Bozhuree) is an amateur a cappella choir in
							Perth, Western Australia, primarily performing music that defines the Serbian heritage. Our
							repertoire includes a wide range of music spanning sacred and liturgic, folk, traditional
							and modern genres. We also enjoy performing music from other nations within the Balkans and
							beyond.
						</p>

						<p>
							Red Peonies was founded in January 2016 and is led by Jasna and Nada. It began as a dual
							harmony female choir and has since expanded to include bass and tenor vocalists. We are
							always happy to welcome new members. There will be plenty of help with pronounciation if you
							don't speak Serbian.
						</p>

						<p>
							We regularly perform at various events in Perth's Serbian community, and hope to extend our
							performances to the wider public as well.
						</p>
					</div>
				</div>
				<div class="col-sm-3"></div>
			</div>

			<h1>The Layout</h1>

			<%-body%>
		</div>
	</body>
</html>
