<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Page Title</title>
	<link href="/bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="/style.css" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC" rel="stylesheet">
</head>

<body>
	<div class="container">

		<nav class="navbar navbar-expand-lg row-fluid ">
			<a class="navbar-brand"><img width="100px" src="/images/logo_transparent.png" /></a>
			<div class="title">
				<h1>Српски Хор Црвени Божури</h1>
				<h2>Serbian Choir Red Peonies</h2>
			</div>

			<% if (locals.login !== undefined) { %>
				<a class="nav-item nav-link" href="/users/logout" tabindex="-1" aria-disabled="true">Logout</a>
			<% } else { %>
				<button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
				aria-expanded="false" aria-label="Toggle navigation">
				   <span class="navbar-toggler-icon">Menu</span>
			   </button>
			   <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
				   <div class="navbar-nav ml-auto">
					   <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>   
					   <a class="nav-item nav-link" href="/users/login" tabindex="-1" aria-disabled="true">Members</a>
				   </div>
			   </div>

			<% } %>

		</nav>
		
		<hr />
		<div class="row">
			<div class="col">
				<p class="tagline" style="margin-bottom: 0px;"><i>Experience the quintessential sounds of Serbia and beyond...</i></p>
			</div>
		</div>
		<hr />

		<%-body%>
		<hr class="footer-liner" />
		<div class="footer">
				<div class="row">
				  <div class="col-sm-12">
					  <p> Connect with us:&nbsp;
					  <a href="https://www.facebook.com/Crvenibozuri/" target="_blank"><img src="/images/face.png" style="width:25px; height:25px;" />
						<a href="#" target="_blank"><img src="/images/yt.png" style="width:25px; height:25px;" />
					  </a>&nbsp; | &nbsp; crvenibozuriperth@gmail.com</p>
	
					  <p>
						© 2017 Crveni Božuri.
					  </p>
				  </div>
				</div>
			  </div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
	 crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
	 crossorigin="anonymous"></script>
</body>

</html>